@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container{
    background-color: black;
    min-height: 100vh;
    border: 10px solid yellow;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.top-section h4{
    font-size: 30px;
    text-align: end;
    color: yellow;
}

.image-container{
    border-radius: 50%;
    overflow: hidden;
}

.about-section{
    margin-top: 50px;
}

.about-section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}

.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
    color: yellow;
}

.biography-section{
    margin: 50px 0;
}


.biography-section h3{
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 45px;
    color: white;
}

.biography-section ul{
    margin-left: 50px;
}

.biography-section ul li{
    margin-bottom: 15px;
    color: yellow;
} 

footer{
    margin: 50px 0;
}

footer p{
    text-align: end;
    color: white;
    font-size: 18px;
}

footer p a{
    font-size: 17px;
    color: yellow;
    margin-left: 5px;
    font-weight: bold;
    border: 1px solid white;
    padding: 5px 10px;
}

footer p a:hover{
    background-color: red;
    color: black;
}